* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins";
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100vh;
  width: 100%;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  width: 90%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 1rem;
}
.dashboard-name {
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.461);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  width: auto;
  padding: 0.5rem 4rem;
  text-align: center;
}

.widgets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;

  height: 50%;
}

.widgets > div {
  width: 30%;
  height: auto;
  border-radius: 20px;
  background-color: rgba(211, 211, 211, 0.461);
  padding: 1rem;
  overflow: hidden;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* text */
h4 {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

/* Date and time widget */
.date-time {
  background-color: rgba(213, 212, 212, 0.649);
  border-radius: 20px;
  width: 300px;
  height: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.date {
  margin-left: 1rem;
  color: rgba(0, 0, 0, 0.5);
}

.time {
  margin-right: 1rem;
  font-weight: 600;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.footer div:last-child {
  text-align: end;
}

/* get image widget */
.get-image {
  background-color: rgba(213, 212, 212, 0.646);
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
  width: 18rem;
  text-align: center;
}

.photo-credits {
  color: rgba(255, 255, 255, 0.777);
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  justify-self: flex-end;
}
.photo-credits a {
  color: white;
  text-decoration: none;
}

/* loader */
.currentWeatherLoader,
.forecastLoader {
  color: rgba(0, 0, 0, 0.453);
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
  z-index: 100;
  margin: 7rem auto 0 auto;
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

.hidden {
  display: none;
}

/* Denna klass appliceras på elementet vars scrollstapel du vill dölja */
.hide-scrollbar {
  /* 1. Dölj i Firefox */
  scrollbar-width: none;

  /* 2. Dölj i äldre IE/Edge */
  -ms-overflow-style: none;
}

/* 3. Dölj i Chrome, Safari, nya Edge (Webkit) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0; /* För att vara extra säker på att det inte tar upp plats */
  height: 0;
}
