.forecast-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
}

.forecast {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 12px;
  padding: 0 10px;
}

@media (max-width: 1500px) {
  .forecast {
    font-size: 10px;
  }
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  overflow-x: scroll;
  flex: 1;
}

.data div {
  background-color: rgba(211, 211, 211, 0.461);
  width: auto;
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 5px;
  text-align: center;
  text-wrap: noWrap;
}

.forecastWeather-icon {
  max-width: 20%;
  margin-right: 1rem;
}

.forecastWeather-icon img {
  display: inline-block;
  width: 55px;
  padding: 5px;
}
